.container {
  padding: 0 3rem;
  max-width: 1024px;
  margin: 0 auto;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .leftCard {
      width: 60%;
    }
    .rightCard {
      width: 40%;
      position: relative;
    }
    .card {
      border-radius: 15px;
      box-shadow: 0px 4px 30px rgb(95 94 231 / 7%);
      padding: 2rem;
      margin: 1rem;
      background-color: #fff;
    }
  }
}
