.header {
    background-color: #6362e7;
    padding: 0 2rem;
    color: #fff;
    box-shadow: 0 3px 9px 3px rgb(169 184 200 / 15%);
    h1 {
        text-align: center;
        padding: 2rem;
        font-size: large;
        letter-spacing: .3rem;
    }
}