.title{
    font-weight: 500;
}
.loadingWrapper {
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    .itemCode {
        font-weight: 500;
    }
    &:nth-child(2n) {
        background-color: #f2f2ff;
    }
} 